nav,
main {
  @media screen and (max-width: 992px) {
    display: none;
  }
}

nav {
  .container {
    width: 90%;
  }

  .search-bar {
    display: none;
    @media screen and (min-width: 650px) {
      display: block;
    }
  }

  .create {
    & > label {
      display: none;

      @media screen and (min-width: 650px) {
        display: block;
      }
    }
  }
}

.left .sidebar {
  @media screen and (min-width: 768px) {
    position: relative;
    inset: 0 -0.1rem;
    display: block;
  }
}
/* MAIN SECTION */
main {
  @media screen and (min-width: 1200px) {
    padding-top: 0.5rem;
  }
}

div {
  &.container {
    @media screen and (min-width: 992px) {
      grid-template-columns: 8vw 60% 27vw;
      gap: 0.5rem;
    }
    @media screen and (min-width: 1200px) {
      margin: 0 0 0 -2rem;
      padding: 0.5rem 3rem;
      grid-template-columns: 16vw 60% 22vw;
      gap: 1rem;
      width: 93%;
    }
    @media screen and (min-width: 1400px) {
      margin: 0 1rem;
      grid-template-columns: 16vw 47% 22vw;
      margin: inherit;
      gap: 6rem;
    }
  }
}

/* MIDDLE SECTION */
.middle {
  .stories {
    @media screen and (min-width: 580px) {
      width: inherit;
    }
    @media screen and (min-width: 768px) {
      gap: 0.5rem;
    }
    @media screen and (min-width: 992px) {
      width: inherit;
    }
  }

  /* CREATE POST STYLES */
  /* 


.middle .create-post {
  width: 93%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  background: var(--color-white);
  padding: 0.4rem var(--card-padding);
  border-radius: var(--border-radius);
}

.middle .create-post input[type="text"] {
  width: 100%;
  justify-self: start;
  padding-left: 1rem;
  background: transparent;
  color: var(--color-dark);
  margin-right: 3rem;
}
*/
  .create_post_container {
    width: 100%;
    .create-post {
      width: 95%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 1rem;
      background: var(--color-white);
      padding: 0.4rem var(--card-padding);
      border-radius: var(--border-radius);
      justify-content: space-between;
      input[type="text"] {
        width: 100%;
        justify-self: start;
        padding-left: 1rem;
        background: transparent;
        color: var(--color-dark);
        margin-right: 3rem;
      }
    }
  }
}

/* 
MEDIA SCREENS 


@media screen and (max-width: 1200px) {

}

@media screen and (max-width: 992px) {
    
}

    @media screen and (min-width: 768pX) {

    }
    @media screen and (min-width: 650px) {
    
}

@media screen and (max-width: 480px) {
    
}

@media screen and (max-width: 380px) {
    
}

@media screen and (max-width: 325px) {
    
}

*/
